<div class="text-center">
  <a href="/" class="title"><span>Fine</span><span>music</span></a>
</div>

{{#if noResults}}

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">No Results!</h4>
  <p>We have not found any match for the text you've entered.</p>
  <hr>
  <a class="mb-0" href="/">Head back to search page</a>
</div>

{{else}}

<h2>{{count.string}} Results</h2>

<div class="px-5">
  {{#each output}}
  <article class="row wow fadeIn" data-wow-delay="{{animationTime}}s">


    <div class="col-md-3 img-container">
      <img class="img-fluid" src="{{ image }}" alt="{{ name }} image">
    </div>

    {{#if isArtist}}
    <div class="col-md-9">
      <div class="row info-container">

        <div class="col-md info">
          <h2>{{ name }}</h2>
          <p>{{bio}}</p>
        </div>

        <div class="col-md-4 songs-list">
          <h3>Top Songs</h3>
          <ul class="list-group">
            {{#songs}}
            <a class="list-group-item" href="{{url}}">{{name}}</a>
            {{/songs}}
          </ul>
        </div>

      </div>
    </div>
    {{else}}
    <div class="col-md-9">

      <div class="row info-container">

        <div class="col-md info">
          <h2>{{ name }}</h2>
          <p>{{bio}}</p>
          {{#if url}}
          <a href="{{url}}" class="btn btn-info" target="_blank" rel="noopener noreferrer">Listen</a>
          {{/if}}
        </div>

      </div>

    </div>
    {{/if}}


  </article>
  {{/each}}

</div>

{{/if}}

{{!-- <input type="text" name="" id="" value="{{URL}}"> --}}